filtersdem/src/main/app/filtersdem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="filtersdemFlow">
        <file:inbound-endpoint path="inbox" responseTimeout="10000" doc:name="File">
            <file:filename-regex-filter pattern="[a-zA-Z0-9]*.txt" caseSensitive="true"/>
        </file:inbound-endpoint>
        <logger message="modifed time #[message.inboundProperties.timestamp]" level="INFO" doc:name="Logger"/>
        <idempotent-message-filter idExpression="#[message.inboundProperties.timestamp]" throwOnUnaccepted="true" doc:name="Idempotent Message"/>
        <wildcard-filter pattern="* 12345 *" caseSensitive="true" doc:name="Wildcard"/>
        <file:outbound-endpoint path="outbox" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
