smtpdemo/src/main/app/smtpdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="smtp" doc:name="HTTP Listener Configuration"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <flow name="smtpdemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/send" doc:name="HTTP"/>
        <set-payload value="This is a test email sending from mule trainig!" doc:name="Set Payload"/>
        <set-attachment attachmentName="demo" value="#[payload]" contentType="text/plain" doc:name="Attachment"/>
        <set-payload value="this body content!" doc:name="Set Payload"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="mule4java@gmail.com" password="May#1987" connector-ref="Gmail" to="akbarmd.mca@gmail.com,ramakanth.v6@gmail.com" from="mule4java@gmail.com" subject="from mule training" responseTimeout="10000" doc:name="SMTP"/>
        <logger message="after email sending!" level="INFO" doc:name="Logger"/>
        <set-payload value="email sent successfully!" doc:name="Set Payload"/>
    </flow>
</mule>
