accounts-api-consumer/src/main/app/accounts-api-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="api/accounts/v1" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="account_API" host="localhost" port="9999" basePath="account" doc:name="HTTP Request Configuration"/>
    <http:request-config name="customer_api" host="localhost" port="8888" basePath="customer/api" doc:name="HTTP Request Configuration"/>
    <http:request-config name="customer_rest_api" host="localhost" port="8888" basePath="customer/api" doc:name="HTTP Request Configuration"/>
    <flow name="accounts-api-consumerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/accountslist" allowedMethods="GET" doc:name="HTTP"/>
        <http:request config-ref="account_API" path="accounts" method="GET" doc:name="HTTP"/>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <set-variable variableName="accounts_results" value="#[payload]" doc:name="accounts_results"/>
        <logger message="fater account s api call #[flowVars.accounts_results]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="customer_rest_api" path="getall" method="GET" doc:name="HTTP"/>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <set-variable variableName="customer_api_response" value="#[payload]" doc:name="customer_api_respnnse"/>
        <logger message="after cusotmer api call #[flowVars.customer_api_response]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="e4462418-2450-453d-9be3-583e51a7fd01">
            <dw:input-payload doc:sample="C:\Users\LENOVO\Desktop\accouns-response.json" />
            <dw:input-variable doc:sample="mockdata\accouns-response.json" mimeType="application/json" variableName="accounts_response"/>
            <dw:input-variable doc:sample="mockdata\customer-mock-response.json"  variableName="customer_response"/>
            <dw:input-variable doc:sample="mockdata\customer-mock-response.json" mimeType="application/json" variableName="customer_api_response"/>
            <dw:input-variable mimeType="application/json" variableName="accounts_results"/>
            <dw:set-payload><![CDATA[%dw 1.0
%function getsocialdetails(email){
	(flowVars.customer_api_response[?($.email==email)] default {})
}
%output application/json
---
flowVars.accounts_results map (val,index) ->{
	customerID:val.accoundNumber,
	customerName:val.accountHolderName,
	email:val.email,
	amount:val.amount,
	social:getsocialdetails(val.email)-'gender'-'state'
} filter $.amount>100000]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
