.mule/apps/accounts-api-consumer/accounts-api-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="api/accounts/v1" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="account_API" host="localhost" port="9999" basePath="account" doc:name="HTTP Request Configuration"/>
    <http:request-config name="customer_api" host="localhost" port="8888" basePath="customer/api" doc:name="HTTP Request Configuration"/>
    <http:request-config name="customer_rest_api" host="localhost" port="8888" basePath="customer/api" doc:name="HTTP Request Configuration"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <flow name="accounts-api-consumerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/accountslist" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.request.path']" doc:name="Set Payload"/>
        <logger message="initial request::::::#[message.inboundProperties.'http.request.path']" level="INFO" doc:name="Logger"/>
        <flow-ref name="audit_asyncFlow" doc:name="auditor_call"/>
        <flow-ref name="accounts_subflowSub_Flow" doc:name="accounts_call"/>
        <logger message="fater account s api call #[flowVars.accounts_results]" level="INFO" doc:name="Logger"/>
        <flow-ref name="customers_subflowSub_Flow" doc:name="customer_call"/>
        <logger message="after cusotmer api call #[flowVars.customer_api_response]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="e4462418-2450-453d-9be3-583e51a7fd01">
            <dw:input-payload doc:sample="C:\Users\LENOVO\Desktop\accouns-response.json" />
            <dw:input-variable doc:sample="mockdata\accouns-response.json" mimeType="application/json" variableName="accounts_response"/>
            <dw:input-variable doc:sample="mockdata\customer-mock-response.json"  variableName="customer_response"/>
            <dw:input-variable doc:sample="mockdata\customer-mock-response.json" mimeType="application/json" variableName="customer_api_response"/>
            <dw:input-variable mimeType="application/json" variableName="accounts_results"/>
            <dw:set-payload><![CDATA[%dw 1.0
%function getsocialdetails(email){
	(flowVars.customer_api_response[?($.email==email)] default {})
}
%output application/json
---
flowVars.accounts_results map (val,index) ->{
	customerID:val.accoundNumber,
	customerName:val.accountHolderName,
	email:val.email,
	amount:val.amount,
	social:getsocialdetails(val.email)-'gender'-'state'
} filter $.amount>100000]]></dw:set-payload>
        </dw:transform-message>
        <flow-ref name="audit_asyncFlow" doc:name="Flow Reference"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="inside error handling sesction #[payload]" level="INFO" doc:name="Logger"/>
            <logger message="exception data #[exception.getCauseException()]" level="INFO" doc:name="Logger"/>
            <set-payload value="#[exception]" doc:name="Set Payload"/>
            <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="mule4java@gmail.com" password="May#1987" connector-ref="Gmail" to="krushna57916@gmail.com" from="mule4java@gmail.com" subject="Error in Usecase flow" responseTimeout="10000" doc:name="SMTP"/>
        </catch-exception-strategy>
    </flow>
</mule>
