.mule/apps/accounts-api-consumer/audit_async.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:request-config name="loggly_auditor" protocol="HTTPS" host="logs-01.loggly.com" port="443" basePath="inputs/56ccf7af-508c-491c-a3e9-5c057883169c/tag/" doc:name="HTTP Request Configuration"/>
    <flow name="audit_asyncFlow">
        <async doc:name="Async">
            <logger message="inside audit flow #[payload]" level="INFO" doc:name="Logger"/>
            <http:request config-ref="loggly_auditor" path="http" method="POST" doc:name="HTTP"/>
        </async>
    </flow>
</mule>
