helloworld/src/main/app/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9999" basePath="mule" doc:name="HTTP Listener Configuration"/>
    <flow name="helloworldFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hi" doc:name="listening_for_request"/>
        <set-variable variableName="n" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="firstflowvar"/>
        <logger message="testinfoormation:::::: #[message.inboundProperties.'http.query.string'.name]" level="INFO" doc:name="Logger"/>
        <set-payload value="Hello world! ! , the gender is  #[message.inboundProperties.'http.query.params'.gender]" doc:name="Set Payload"/>
    </flow>
</mule>
